.btn-modal-up {
  height: 30px;
  color: white;
  background: #f4af00;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.modal,
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay-up {
  background: transparent;
}
.modal-content-up {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
  cursor: pointer;
  color: black !important;
}

.fa-times-circle {
  font-size: 20px;
}

.save-btn {
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: black !important;
}
.fa-save {
  font-size: 20px;
  margin-top: 20px;
}

.input-up input {
  width: 100%;
  background: #1414144f;
  border-radius: 10px;
}
