.profil-gl {
  background: #141414;
  padding: 100px;
  padding-bottom: 150px;
  display: flex;
}

.body-profile {
  width: 100%;
  font-family: "poppins", sans-serif;
}

.section-profile::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c5a111, #e91e63);
  clip-path: circle(10% at 15% 20%);
}
.section-profile .container {
  position: relative;
  z-index: 1;
}

.section-profile .container .content-profile .img-profile .my-file {
  position: absolute;
  bottom: 0px;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 60px;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.section-profile
  .container
  .content-profile
  .img-profile
  .my-file::-webkit-file-upload-button {
  visibility: hidden;
}

.section-profile .container .content-profile .img-profile .my-file::before {
  content: "\f030";
  font-family: fontAwesome;
  font-size: 30px;
  color: #fff;
  display: inline-block;
}

.section-profile .container .card-profile {
  position: relative;
  width: 500px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.section-profile .container .card-profile .content-profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}

.section-profile .container .card-profile:hover .content-profile {
  opacity: 1;
  transform: translateY(-20px);
}

.section-profile .container .card-profile .content-profile .img-profile {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.section-profile .container .card-profile .content-profile .img-profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-profile .container .card-profile .contente-profile h3 {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.section-profile .container .card-profile .contente-profile h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.section-profile .container .card-profile .sci-profile {
  position: absolute;
  width: 55%;
  bottom: 50px;
  display: flex;
  margin-left: 100px;
}

.section-profile .container .card-profile .sci-profile li {
  list-style: none;
  margin-left: 10px;
  margin: -10px 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.section-profile .container .card-profile:hover .sci-profile li {
  transform: translateY(0px);
  opacity: 1;
}

.section-profile .container .card-profile .sci-profile li i {
  color: #fff;
  font-size: 24px;
}

.section-profile .btn-profile {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.btn-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-profile button {
  height: 30px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
