/*add post */

.cl-post-3 {
  width: 500px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
}

.post-body-3 {
  display: flex;
  justify-content: center;
}

.input-post-bg-3 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 28px;
}
.input-post-bg-3 {
  display: flex;
  align-items: center;
}

.input-post-bg-3 span {
  width: 100%;
  color: #b8b8b8;
  font-weight: 600;
  margin-left: 15px;
}

.pub-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.but-ed-de {
  padding: 30px;
}

.post-body-2 {
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-bodyy {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 1.1em;
  border-radius: 20px;
  background-color: white;
}

.post-body-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(225, 225, 225);
  border-radius: 30px;
}
.user-post {
  display: flex;
  align-items: center;
}

.user-post img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.option-post {
  display: flex;
}

.pub-body {
  width: 90%;
  height: 60%;
  background-color: rgb(237, 237, 237);
  margin-top: 5px;
  padding: 1.1em;
}

.pub-body p {
  font-family: poppins;
  font-size: 17px;
  font-weight: 500;
}

.option-post button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: rgb(39, 186, 39);
}
